$black:  #272334;
$gray-1: #5a5665;
$gray-2: #938e9f;
$gray-3: #bdbac4;
$gray-4: #f0f0f0;

$app-background: #F0EFF2;
$brand-color: #ff5964;
$page-background: #fcfcfc;
$footer-background: #fcfcfc;

$success-color: #5cb85c;

$disabled-background: #eee;
$text-color: #333;
$inverted-text-color: #fff;

$title: $black;
$sub-title: $gray-1;
